{% extends "layout.html" %}

{% block article_body %}
{% markdown %}

<div class="intro"><p>This form is now closed. Thanks to everyone who has submitted ideas. We will spend the next two weeks judging the submissions and commissioning the winning reader op-eds.</p>

<p>You can browse through some of the most compelling solutions submitted by our readers <a href="https://ig.ft.com/future-of-britain/">in this app</a>. We will keep updating it throughout November.</p></div>

<p><b>Explore the <a href="https://www.ft.com/the-future-of-britain-project">entire project here</a>. </b></p>

{% endmarkdown %}
{% endblock %}
