{% extends "layout.html" %}

{% block article_body %}
{% markdown %}

<div class="intro"><p>We would like you to join us at the Financial Times to brainstorm meaningful solutions for the future of Britain. Our 2m-plus readership includes people making the important decisions in business and politics every day. Join them and us in a conversation about the future. Share your ideas below and we will publish excerpts from the best of them, outside of our paywall. You have at most 600 words, just enough to make a persuasive case for what you think is the right way forward.</p>

<p>Here’s how it works: in the form below, help us answer one of four big questions. Throughout October and November, we will excerpt many of your solutions on FT.com. The best few will be published as full op-eds. Those authors will be invited to discuss their thoughts alongside FT commentators at a live event in London in January.</p></div>

<p><b>This form will close on Thursday, November 10.</b></p>

{% endmarkdown %}
{% endblock %}
