@import 'o-colors/main';
@import 'components/core/main';

.article-body {
      margin: 3em auto 1em;
}


.intro::first-letter {
  float: left;
  padding-right: 8px;
  font-size: 400%;

}

.intro {
  margin: 2em auto 0;
}

.o-typography-body-wrapper p {
  font: 19px/1.5 Georgia,serif;

}

// Form styles
.required-message{
  font-family: MetricWeb,sans-serif;
  color:#c00;
  font-size: 16px;
}

.ss-q-title {
  font-family: MetricWeb,sans-serif;
  display: block;
  margin: 25px 0 4px 0;
  padding: 0;
  font-size: 19px;
  line-height: 22px;
  font-weight: 600;
  color: #505050;
}

.ss-q-title span {
  color:#c00;
}

.ss-q-help, .ss-secondary-text{
    display: block;
    font-family: MetricWeb,sans-serif;
    margin-top: -2px;
    margin-bottom: 6px;
    color: #777777;
    font-size: 16px;
    line-height: 18px;
}

input[type=text]{
  border: 1px solid #cec6b9;
  border-radius: 2px;
  min-width: 280px;
}

textarea {
   border: 1px solid #cec6b9;
  border-radius: 2px;
  min-width: 100%;
}

.ss-choice-item input[type=radio]{
  background-color: red;
}

.error-message{
  font-family: MetricWeb,sans-serif;
  color:#c00;
  font-size: 16px;
}

.ss-choice-label{
  font-family: MetricWeb,sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}


.o-typography-body-wrapper ul{
  list-style-type: none;
 }

 .o-typography-body-wrapper h2 {
      margin-top: 35px;
 }

 .ss-section-description{
  font-family: MetricWeb,sans-serif;
  font-size: 16px;
  line-height: 17px;
  color: #777777;
 }

.jfk-button{
    font-family: MetricWeb,sans-serif;
    color: #fff;
    border-style: none;
    background-color: #27757b;
    border-color: #27757b;
    background-size: 18px;
    margin: 28px auto 10px;
    min-height: 39px;
    min-width: 280px;
    padding: 8px 18px 8px 18px;
    font-size: 18px;
    line-height: 18px;
    border-width: 1px;
    border-radius: 4px;

}

  .jfk-button:hover{
    border-color: #2bbbbf;
  }

  .jfk-button:visited{
   color: #1d1d1d;
   background-color: #2bbbbf!important;
   border-color: #2bbbbf;
   }

// Aleks's changes
figure {
  width: 100%;
  height: 600px;
  margin: 0;
  background-image: url("master.jpg");
  background-size: cover;
}

.article-head {
  color: #fff;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 6%,rgba(0,0,0,0) 7%,rgba(0,0,0,0.44) 67%,rgba(0,0,0,0.65) 96%);
}
