@import 'o-colors/main';
@import 'components/core/main';


html {
  -webkit-font-smoothing: antialiased;
}

.o-header__row.o-header__top{
position: static !important;
}

.o-header__container{
  position: relative;
  min-width: 240px;
  max-width: 1220px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.o-header{
  position: relative !important;
  background-color: transparent !important;

}

.o-header__top-logo{
  color:#FFF !important;
}

.o-header__top-logo>a{
  width: 262px;
  height: 22px;
  background-image: url(https://image.webservices.ft.com/v1/images/raw/fticon:brand-ft-masthead?source=o-icons&tint=%23FFFFFF,%23FFFFFF&format=svg);
}

figure {
  background-size: cover;
  height: 100vh;
  margin: 0;
  position: relative;
  background-image: url(Britannia--mobile.png);
  background-repeat: no-repeat;
}



 .o-typography-heading1 {
      font-family: FinancierDisplayWeb,serif;
      line-height: 58px;
      font-size: 58px;
      font-weight: 500;
      margin: 0 0 8px;
  }

  .o-typography-lead{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    font-size: 26px;
    line-height: 28px;
    font-weight: normal;
    max-width: 610px;
  }

.article-body {
      margin: 3em auto 1em;
}




.intro::first-letter {
  float: left;
  padding-right: 8px;
  font-size: 400%;

}

.intro {
  margin: 2em auto 0;
}

.o-typography-body-wrapper p {
  font: 19px/1.5 Georgia,serif;

}

// Form styles
.required-message{
  font-family: MetricWeb,sans-serif;
  color:#c00;
  font-size: 16px;
}

.ss-q-title {
  font-family: MetricWeb,sans-serif;
  display: block;
  margin: 25px 0 4px 0;
  padding: 0;
  font-size: 21px;
  line-height: 22px;
  font-weight: 600;
  color: #333333;
}

.ss-q-title span {
  color:#c00;
}

li.ss-choice-item{
  margin: 1em auto 1.5em
}

.ss-q-help, .ss-secondary-text{
    display: block;
    font-family: MetricWeb,sans-serif;
    margin-top: -2px;
    margin-bottom: 6px;
    color: #333333;
    font-size: 16px;
    line-height: 18px;
}

input[type=text]{
  border: 1px solid #cec6b9;
  border-radius: 2px;
  min-width: 280px;
}

textarea {
   border: 1px solid #cec6b9;
  border-radius: 2px;
  min-width: 100%;
}

.ss-choice-item input[type=radio]{
  background-color: red;
}

.error-message{
  font-family: MetricWeb,sans-serif;
  color:#c00;
  font-size: 16px;
}

span.ss-choice-item-control.goog-inline-block{
margin-right: 4px;
}

.ss-choice-label{
  font-family: MetricWeb,sans-serif;
  color: #505050;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.ss-choice-label b {
  font-weight: 600;
  color: #333333;
}


.o-typography-body-wrapper ul{
  list-style-type: none;
 }

 .o-typography-body-wrapper h2 {
      margin-top: 35px;
 }

 .ss-section-description{
  font-family: MetricWeb,sans-serif;
  font-size: 16px;
  line-height: 17px;
  color: #777777;
 }

.jfk-button{
    font-family: MetricWeb,sans-serif;
    color: #fff;
    border-style: none;
    background-color: #27757b;
    border-color: #27757b;
    background-size: 18px;
    margin: 28px auto 10px;
    min-height: 39px;
    min-width: 100%;
    padding: 8px 18px 8px 18px;
    font-size: 18px;
    line-height: 18px;
    border-width: 1px;
    border-radius: 4px;

}

  .jfk-button:hover{
    border-color: #2bbbbf;
  }

  .jfk-button:visited{
   color: #1d1d1d;
   background-color: #2bbbbf!important;
   border-color: #2bbbbf;
   }

// CHANGES to layout



.o-header__row.o-header__top {
  position: absolute;
  top: 0;
  text-align: center;
}



.img-desktop {
  display: none;
}

.article-head {
  color: #fff;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 6%,rgba(0,0,0,0) 7%,rgba(0,0,0,0.44) 67%,rgba(0,0,0,0.65) 96%);
}

.top-overlaid {
    position: relative;
    bottom: 10px;
    color: #fff;
    width: 100vw;
    padding: 0 50px 0 50px;
}

.o-typography-lead{
  font-size: 26px;
  line-height: 28px;
  font-weight: normal;
  max-width: 610px;
}

@media only screen and (min-width: 740px) {

  .jfk-button{
    max-width: 320px;
  }

  figure {
  background-size: cover;
  height: 100vh;
  margin: 0;
  position: relative;
  background-image: url(Britannia--desktop.png);
  background-repeat: no-repeat;
}


  .jfk-button{
    max-width: 400px;
  }

  .img-desktop {
    display: block;
  }

  .img-mobile {
    display: none;
  }


}

@media only screen and (min-width: 980px) {

  figure {
  background-size: cover;
  height: 100vh;
  margin: 0;
  position: relative;
  background-image: url(Britannia--desktop.png);
  background-repeat: no-repeat;
}

  .o-header__top-logo{
  color:#FFF !important;
  width: 262px;
}

 


  .img-desktop {
    display: block;
  }

  .img-mobile {
    display: none;
  }
}
