<link rel="stylesheet" href="https://origami-build.ft.com/v2/bundles/css?modules=o-header@^6.5.1">
<header class="o-header o-header--simple" data-o-component="o-header" data-o-header--no-js="">
	<figure>
			<div class="o-header__container">
				<div class="o-header__inner">
					<div class="o-header__bottom">
						<a class="o-header__masthead-mobile" href="http://www.ft.com/" title="Go to Financial Times homepage">
							<span class="o-header__visually-hidden">Financial Times</span>
						</a>
					</div>
				</div>
			</div>
		

		<div class="top-overlaid">
			<div>
			  <a href="{{ topic.url }}" class="o-typography-link-topic o-typography-link-topic--medium">{{ topic.name }}</a>
			</div>

			<h1 class="o-typography-heading1" itemprop="headline">{{ headline | md(true) }}</h1>
			<p class="o-typography-lead">
			  {{ summary | md(true) }}
			  {% if relatedArticle %}
			  <a href="{{ relatedArticle.url }}" class="o-typography-link">{{ relatedArticle.text }}</a>
			  {% endif %}
			</p>
			<meta itemprop="dateModified" content="{{ publishedDate | isotime }}">

			<p>
			  {%- if publishedDate -%}
			  <time class="article__timestamp o-date o-typography-timestamp"
			          data-o-component="o-date" datetime="{{ publishedDate | isotime }}"
			          itemprop="datePublished" content="{{ publishedDate | isotime }}"
			          data-o-date-js>{{ publishedDate | ftdate }}</time>
			  {%- endif -%}
			  {%- if byline -%}
			  &#32;<span class="article__byline">by&nbsp;
			  {%- if byline.push -%}
			    {%- for author in byline -%}
			      {{ " and " if not loop.first and loop.last else (", " if not loop.first else "") }}
			      {%- if author.url -%}
			        <a href="{{ author.url }}" class="o-typography-link-topic o-typography-link-topic--small" itemprop="author">{{ author.name }}</a>
			      {%- else -%}
			        {{ author.name }}
			      {%- endif -%}
			    {%- endfor -%}
			  {%- else -%}
			    {{ byline | md(true) }}
			  {%- endif -%}
			  </span>
			  {%- endif -%}
			</p>

		</div>

		<!-- <img alt="" src="Britannia--desktop.png" class="img-desktop" style="width: 100%" style="float:left"></img>
		<img alt="" src="Britannia--mobile.png" class="img-mobile" style="width: 100%" style="float:left"></img> -->
	</figure>

</header>
<script async>queue('https://origami-build.ft.com/v2/bundles/js?export=oHeader&modules=o-header@^6.5.1', null, true)</script>
